[Desktop Entry]
Type=Application
Exec=xterm -geometry 113x54+0+0
Hidden=false
NoDisplay=false
X-GNOME-Autostart-enabled=true
Name[en_NG]=Terminal
Name=Terminal
Comment[en_NG]=Terminal
Comment=Start Terminal on Start up
